@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean);

body { background: #fff; ; }
h1, h2, h3, h4, h5, h6, input, button, textarea, select {font-family: 'Noto Sans KR', sans-serif;}
#wrapper1 { margin: 20px auto 100px; font-family: 'Noto Sans KR', sans-serif ; text-align: center;}
.regi_tt { margin: 50px 0; font-size: 40px; color: #2d3043;  font-weight: bold; text-align: center; }
.regi_tt { margin: 50px 0; font-size: 40px; color: #2d3043;  font-weight: bold; text-align: center; }

/* 로그인 */
#mb_login {
	max-width: 600px; margin: 50px auto 0; padding: 70px 40px;
	background: #fff; border: 1px solid #d8d9de; border-radius: 4px;
}
#login_info2 { height: 25px; margin: 40px auto; text-align: center; }
#login_info2 ul li { position: relative; display: inline-block; height: 25px; line-height: 25px; padding: 0 15px; }
#login_info2 ul li:before {
	content: ""; display: block; position: absolute;
	top: 50%; left: 0; width: 1px; height: 14px; margin-top: -7px;
	background: #d8d9df;
}
#login_info2 ul li:first-child:before { display: none; }
#login_info2 ul li a { font-size: 14px; color: #2d2f43; font-weight: normal; }
#login_password_lost { border: 0; }

#mb_login_od_wr { margin: 0; padding: 0; border-top: 0; }

#sns_login { margin: 0; padding: 0; border: 0; }
#sns_login h3 {
	display: none; position: relative;
    padding: 0; margin-bottom: 20px;
    font-size: 16px; color: #2e2f44; font-weight: 400;
	text-align: center; background: #fff;
	z-index: 2;
}
#sns_login .sns-icon { height: 50px; line-height: 50px; padding-left: 50px; background-position: 10px center;}
#sns_login .txt { font-size: 14px; padding-left: 20px; }


/* 회원가입 입력 */
#register_form {
	max-width: 750px; margin: 50px auto; padding: 70px 70px;
	background: #fff; border: 1px solid #d8d9de; border-radius: 20px;
}
#fregisterform .form_01 div, #fregisterform .form_01 li  { margin: 0; margin-left: 20px; }

#register_form h3, #register_agree h3 {
	position: relative; padding: 0 0 15px 0;
	font-size: 30px; color: #2d2f43; font-weight: 500; border-bottom: 2px solid #3d435f;
}
#register_form h3 { margin-bottom: 30px; }
#register_form h3:after { content: ""; display: block; clear: both; visibility: hidden; }
/*
#register_form h3 span { float: right; } 

.regi_table tbody th label, #register_form h3 span { font-size: 14px; color: #2d2f43; font-weight: 500; height: 20px; line-height: 20px; }
.regi_table tbody th label:before, #register_form h3 span:before {
	content: ""; display: inline-block;
    font-size: 30px; color: #e5433e; font-weight: 500;
    font-style: normal; text-align: left;
    width: 20px; line-height: 10px; height: 11px;
    overflow: hidden;
}
.regi_table tbody th label.req:before, #register_form h3 span.req:before { content: "·"; }
*/


.regi_table tbody th label, #register_form h3 span { position: relative; font-size: 14px; color: #2d2f43; font-weight: 500; height: 20px; padding-left: 13px; }
.regi_table tbody th label.req:before, #register_form h3 span.req:before {
	content: ""; display: block; position: absolute;
	top: 50%; left: 0; width: 5px; height: 5px; margin-top: -2.5px;
	background: #e5433e; border-radius: 2.5px; overflow: hidden;
}
#register_form h3 span { position: absolute; right: 0; bottom: 10px; }

.regi_table table { width:100%;border-collapse:collapse;border-spacing:0; }
.regi_table caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.regi_table tbody th {
	width: 130px; line-height: 50px;  padding: 0;
	font-size: 14px; color: #2d2f43; font-weight: 500;
	background-color: #fff; border: 0;
	vertical-align: top; text-align: left;
}
.regi_table tbody td {
	line-height: 50px; padding: 3px 0;
	font-size: 14px; color: #2d2f43; font-weight: 400;
	background-color: #fff; border: 0;
	vertical-align: top; text-align: left;
	word-break: break-all; word-wrap: break-word;
}
input[type=text].reg_input, input[type=password].reg_input, select.reg_input, .reg_input {
	padding: 0; margin-bottom:10px;
	width: 60%; height: 50px; line-height: 50px;
	font-size: 14px; color: #444; font-weight: normal;
	 background: #fff; border: 0 !important; border-bottom: 1px solid #d8d9df !important;
	vertical-align: top; box-shadow: none !important; outline: none !important
}
.regi_table select.reg_input {
	text-align:center;
	-webkit-appearance: none; -moz-appearance: none; appearance: none;
	background-image: url(../img/arr_down3.png);
	background-position: right 10px center;
	background-repeat: no-repeat;	
	background-color: #fff;
}
.regi_table select.reg_input::-ms-expand {display: none;}
.regi_table textarea {
	padding: 20px 0 10px; width: 100%; height: 120px; line-height: 1.5em;
	font-size: 14px; color: #444; font-weight: normal;
	background: #fff; border: 0 !important; border-bottom: 1px solid #d8d9df !important;
	vertical-align: top; box-shadow: none !important; outline: none !important;
	overflow: auto; resize: none;
}

.regi_table #reg_mb_name, .regi_table #reg_mb_zip, .regi_table #reg_mb_id { width: 180px; }

.emailselect_wrap { position: relative; }

.emailselect_wrap:after, .telselect_wrap:after { content: ""; display: block; clear: both; visibility: hidden; }
#hp1, #hp2, #hp3, #email1, #email2, #email3 { float: left; width: 30%; }
#reg_mb_resist1, #reg_mb_resist2 {width: 45%; }
.emailselect_wrap b { float: left; width: 5%; text-align: center; }
.telselect_wrap b { float: left; width: 5%; text-align: center; }

.regi_table .btn_frmline {
	min-width: 90px; height: 40px; line-height: 38px;  padding: 0 15px;
	font-size: 14px; color: #2d2f43; font-weight: normal;
    background: #fff; border: 1px solid #b7bac4; border-radius: 20px;
	text-align: center; vertical-align: middle; outline: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.regi_table .btn_frmline:hover { background: #f3f3f3; }
#fregisterform .frm_info { display: none; margin-top: 5px; line-height: 1.5em; font-size: 0.833em; }
#fregisterform #msg_certify { line-height: 1.7em; }

.reg_input::placeholder { color: #c1c1c1; opacity: 1; }
.reg_input:-ms-input-placeholder { color: #c1c1c1; }
.reg_input::-ms-input-placeholder { color: #c1c1c1; }


.agree_chk { margin: 5px 0 0 0 !Important; }
.agree_chk li { font-size: 14px; color: #2d2f43; font-weight: 400; line-height: 40px; }
.agree_chk li > span { display: inline-block; width: 130px; }

/*
.agree_chk li input[type=checkbox] {
    display: inline-block; position: relative; vertical-align: middle;
	width: 18px; height: 18px; margin: 0 5px 0 0;
    background: #fff; border: 1px solid #ddd; border-radius: 50%;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
	cursor: pointer; outline: none;
}
.agree_chk li input[type=checkbox]:checked { background: url(/Web-YB-Bank/resources/img/chk.png) no-repeat 50% 50% #3a8afd; border-color: #3a8afd; }
*/

.is_captcha_use td { line-height: normal !important; }

.btn_confirm { margin: 55px auto 0 !important; text-align: center; }
.btn_confirm:after { content: ""; display: block; clear: both; visibility: hidden; }
.btn_confirm .btn_cancel  {
	float: left; display: block;
	width: 254px; height: 55px; line-height: 53px;
	font-size: 16px; color: #2d2f43; font-weight: 500;
    background: #fff; border: 1px solid #b4b5c1; border-radius: 50px;
	text-align: center; outline: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn_confirm .btn_cancel:hover { background: #dadae0; }
.btn_confirm .btn_submit {
	float: right; display: block;
	width: 254px; height: 55px; line-height: 53px;
    font-size: 16px; color: #fff; font-weight: 400;
    background: #3d435f; border: 1px solid #3d435f; border-radius: 50px;
	text-align: center; cursor: pointer; outline: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn_confirm .btn_submit:hover { background: #2d2f43; border: 1px solid #2d2f43; }

#mb_login .btn_confirm .btn_cancel, #mb_login .btn_confirm .btn_submit { width: 100%; }
#mb_login .btn_confirm .btn_cancel { margin: 15px 0 0; }
#mb_login_notmb .btn_submit { line-height: 53px; }

#fregister .btn_confirm .btn_submit { padding: 0; height: 55px; border-radius: 50px; font-size: 16px; font-weight: 400; }
#fregisterform .btn_confirm .btn_submit { padding: 0; height: 55px; font-size: 16px; font-weight: 400; }
#fregisterform .btn_confirm .btn_cancel { padding: 0; height: 55px; line-height: 53px; font-size: 16px; font-weight: 400; }

#fregisterform .reg_msg {
	display: block; position: relative;
	margin: 0; margin-top: -1px; line-height: 30px;
	font-size: 0.833em; color: #2d2f43; font-weight: normal;
	z-index: 2;
}
#fregisterform .reg_msg.nok { color: #e5433e !important; border-color: #e5433e !important; }
/* #fregisterform .reg_msg.ok { color: #32b71c !important; border-color: #32b71c !important; } */


/* 회원가입 약관 */
#register_agree {
	max-width: 600px; margin: 50px auto 0; padding: 70px 40px;
	background: #fff; border: 1px solid #d8d9de; border-radius: 4px;
}
#fregister_chkall { line-height: 55px; border-bottom: 1px solid #d8d9df; text-align: left; }
#fregister section { margin: 0; border: 0; border-radius: 0; box-shadow: none; }
#fregister textarea {
    padding: 20px; width: 100%; height: 150px;
    background: #fff; border: 1px solid #d8d9df;
	font-size: 12px; color: #98989f; line-height: 1.6em;
	overflow: auto; resize: none;
}

.fregister_agree2 { line-height: 55px; text-align: left; }
.fregister_agree2 span { color: #e5433e; font-weight: 400; padding-left: 5px; }


/* 체크박스 */
.checks {position: relative;display: inline-block;}
.checks label { font-size: 14px; color: #2d2f43; font-weight: 400; letter-spacing: -0.02em;  }
.checks input[type="checkbox"] { /* 실제 체크박스는 화면에서 숨김 */
	position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px;
	overflow: hidden; clip:rect(0,0,0,0); border: 0
}
.checks input[type="checkbox"] + label {
	margin-left : 30px; display: inline-block; position: relative; cursor: pointer;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {	/* 가짜 체크박스 */
	content: ""; display: inline-block;
	margin: -3px 8px 0 0;
	width: 18px; height: 18px; line-height: 18px;
	background: #fff; border: 1px solid #ddd; border-radius: 50%;
	text-align: center; vertical-align: middle;
}
.checks input[type="checkbox"]:checked + label:before {	/* 체크박스를 체크했을때 */
	background: url(../img/chk.png) no-repeat 50% 50% #3a8afd; border-color: #3a8afd;
}

.checks2 { position: relative; }
.checks2 label { font-size: 14px; color: #2d2f43; font-weight: 400; letter-spacing: -0.02em; }
.checks2:after { content: ""; display: block; clear: both; visibility: hidden; }
.checks2 input[type="checkbox"] { position:absolute;top:0;left:0;width:0;height:0;opacity:0;outline:0;z-index:-1;overflow:hidden }
/* .checks2 input[type="checkbox"] + label {position:relative; } */
.checks2 input[type="checkbox"] + label:before {
	content: ""; display: block; position: absolute;
	top: 50%; right: 0; transform: translateY(-50%);
	width:18px; height:18px;
	background:#fff; border:1px solid #ddd; border-radius: 50%;
	text-align: center; cursor: pointer;
}
.checks2 input[type="checkbox"]:checked + label:before {
	background: url(../img/chk.png) no-repeat 50% 50% #3a8afd; border-color:#3a8afd;
}
